.item-input {
  font-size: 25px;
}

.item-input input {
  border-radius: 5px;
}

.item-save {
  font-size: 20px;
  opacity: 0.5;
}

.item-save:hover {
  opacity: 1;
}

.item {
  margin-top: 10px;
  padding: 0 30%;
  width: 100%;
  font-size: 25px;
}

.item-complete {
  float: left;
  opacity: 0.5;
}

.item-complete:hover {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.item-remove {
  float: right;
  opacity: 0.5;
}

.item-remove:hover {
  opacity: 1;
}

.strikethrough {
  color: #d3d3d3;
  text-decoration: line-through;
}
